@import '../../utils/style/mixins.scss';

.Header-component {
  .navbar {

    .navbar-brand {
      width: 100%;
      justify-content: space-between;

      &__item-burger-section {
        display: flex;

        .navbar-item {
          @include mobile {
            display: none;
          }
        }

        .navbar-burger {
          display: block; // this is a work around because navbar-burger only appears on mobile
        }
      }
    }

    .navbar-menu {
      display: none;
    }

  }
}