@import '../../utils/style/mixins.scss';

.VehicleCard-component {
  &:hover {
    box-shadow: 0px 0px 6px 0px #000000bf;
    cursor: pointer;
  }
  @include tablet {
    .car-info-block {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 140px;
    }
  }

}